language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
env:
  matrix:
    - DJANGO_VERSION=1.8
    - DJANGO_VERSION=1.9
    - DJANGO_VERSION=1.10
    - DJANGO_VERSION=1.11
install:
  - pip install 'coverage<4' # coverage>=4 has issues with python3
  - pip install -q Django==$DJANGO_VERSION coveralls
  - python setup.py egg_info
script: coverage run --source='dj_pagination' --omit *runner*,*test_project* setup.py test
after_success:
  - bash <(curl -s https://codecov.io/bash)
matrix:
  exclude:
    - python: "3.3"
      env: DJANGO_VERSION=1.9 # ImportError: cannot import name find_spec
    - python: "3.3"
      env: DJANGO_VERSION=1.10
    - python: "3.3"
      env: DJANGO_VERSION=1.11
