include CONTRIBUTORS.txt
include COPYING
include doc/conf.py
recursive-include doc *.rst
recursive-include dj_pagination/locale *.po
recursive-include dj_pagination/templates/pagination *.html
recursive-include dj_pagination/test_project/example/templates *.html
